<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.video.mapper.MovieBasicMapper">

    <resultMap type="MovieBasic" id="MovieBasicResult">
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="version"    column="version"    />
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="releaseStatus"    column="release_status"    />
        <result property="title"    column="title"    />
        <result property="bgColor"    column="bg_color"    />
        <result property="titleEn"    column="title_en"    />
        <result property="titleOriginal"    column="title_original"    />
        <result property="akas"    column="akas"    />
        <result property="genres"    column="genres"    />
        <result property="pubdate"    column="pubdate"    />
        <result property="duration"    column="duration"    />
        <result property="versions"    column="versions"    />
        <result property="durations"    column="durations"    />
        <result property="eggHunt"    column="egg_hunt"    />
        <result property="color"    column="color"    />
        <result property="seasonCount"    column="season_count"    />
        <result property="currentSeason"    column="current_season"    />
        <result property="episodeCount"    column="episode_count"    />
        <result property="currentEpisode"    column="current_episode"    />
        <result property="theEnd"    column="the_end"    />
        <result property="countryIds"    column="country_ids"    />
        <result property="languages"    column="languages"    />
        <result property="tags"    column="tags"    />
        <result property="summary"    column="summary"    />
        <result property="year"    column="year"    />
        <result property="poster"    column="poster"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="columnValue"    column="column_value"    />
        <result property="isPay"    column="is_pay"    />
        <result property="paymentAmount"    column="payment_amount"    />
        <result property="freeDuration"    column="free_duration"    />
        <result property="userCollectsCount"    column="userCollectsCount"    />
        <result property="movieVideosCount"    column="movieVideosCount"    />
        <association property="movieRate" column="id" javaType="java.util.HashMap" select="com.ruoyi.video.mapper.UserRateMapper.selectUserRateByMovieId" />
        <collection property="country" javaType="java.util.List" column="country_ids" select="com.ruoyi.video.mapper.BasicCountryMapper.selectBasicCountryByIds"/>
    </resultMap>


    <resultMap id="movieItem" type="java.util.HashMap">
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="poster"    column="poster"    />
        <result property="columnValue"    column="column_value"    />
        <result property="isPay"    column="is_pay"    />
        <result property="paymentAmount"    column="payment_amount"    />
        <result property="freeDuration"    column="free_duration"    />
        <association property="movieRate" column="id" javaType="java.util.HashMap" select="com.ruoyi.video.mapper.UserRateMapper.selectUserRateByMovieId" />
        <association property="moviePv"  javaType="java.util.HashMap">
            <result property="pv" column="pv" />
        </association>
        <collection property="casts" javaType="java.util.List" column="id" ofType="java.util.HashMap" select="com.ruoyi.video.mapper.MovieCastMapper.selectMovieCastListByMovieId">

        </collection>
    </resultMap>

    <select id="selecMovieItems"  parameterType="MovieBasic" resultMap="movieItem">
        SELECT movie_basic.id,movie_basic.create_time,movie_basic.update_time,movie_basic.is_pay,movie_basic.poster,movie_basic.title,movie_basic.column_value
        FROM movie_basic

        <where>
            <if test="status != null "> and movie_basic.status = #{status}</if>
            <if test="releaseStatus != null "> and movie_basic.release_status = #{releaseStatus}</if>
            <if test="title != null  and title != ''"> and movie_basic.title like concat('%', #{title}, '%')</if>
            <if test="genres != null  and genres != ''"> and movie_basic.genres = #{genres}</if>
            <if test="pubdate != null "> and movie_basic.pubdate = #{pubdate}</if>
            <if test="countryIds != null  and countryIds != ''"> and movie_basic.country_ids = #{countryIds}</if>
            <if test="languages != null  and languages != ''"> and movie_basic.languages = #{languages}</if>
            <if test="columnValue != null  and columnValue != ''"> and movie_basic.column_value = #{columnValue}</if>
        </where>
    </select>

    <select id="selecMovieItemsRank"  parameterType="MovieBasic" resultMap="movieItem">
        SELECT movie_basic.id,movie_basic.create_time,movie_basic.update_time,movie_basic.is_pay,movie_basic.poster,movie_basic.title,movie_basic.column_value,movie_pv.pv,movie_pv.update_time
        FROM movie_basic
                 LEFT JOIN movie_pv ON movie_pv.movieId = movie_basic.id
        <where>
            <if test="startTime != null  and endTime != null"> and (movie_pv.update_time between #{startTime} and #{endTime})</if>
            <if test="status != null "> and movie_basic.status = #{status}</if>
            <if test="releaseStatus != null "> and movie_basic.release_status = #{releaseStatus}</if>
            <if test="title != null  and title != ''"> and movie_basic.title like concat('%', #{title}, '%')</if>
            <if test="genres != null  and genres != ''"> and movie_basic.genres = #{genres}</if>
            <if test="pubdate != null "> and movie_basic.pubdate = #{pubdate}</if>
            <if test="countryIds != null  and countryIds != ''"> and movie_basic.country_ids = #{countryIds}</if>
            <if test="languages != null  and languages != ''"> and movie_basic.languages = #{languages}</if>
            <if test="columnValue != null  and columnValue != ''"> and movie_basic.column_value = #{columnValue}</if>
        </where>
    </select>

    <sql id="selectMovieBasicVo">
        select create_time, update_time, create_by, update_by, remark, version, id, status, release_status, title, bg_color, title_en, title_original, akas, genres, pubdate, duration, versions, durations, egg_hunt, color, season_count, current_season, episode_count, current_episode, the_end, country_ids, languages, tags, summary, year, poster, release_date, column_value,is_pay,payment_amount,free_duration from movie_basic
    </sql>

    <select id="selectMovieBasicList" parameterType="MovieBasic" resultMap="MovieBasicResult">
        select b.create_time, b.update_time, b.create_by, b.update_by, b.remark, b.version, b.id, b.status, b.release_status, b.title, b.bg_color, b.title_en, b.title_original,b.akas, b.genres, b.pubdate, b.duration, b.versions, b.durations, b.egg_hunt, b.color, b.season_count, b.current_season, b.episode_count, b.current_episode, b.the_end, b.country_ids, b.languages, b.tags, b.summary, b.year, b.poster, b.release_date, b.column_value,b.is_pay,b.payment_amount,b.free_duration,
        (SELECT COUNT(*) from movie_videos v where v.movie_id = b.id ) as movieVideosCount,
        (SELECT COUNT(*) from user_collect c  where c.movie_id = b.id ) as userCollectsCount
        from movie_basic b

        <where>
            <if test="status != null "> and b.status = #{status}</if>
            <if test="releaseStatus != null "> and b.release_status = #{releaseStatus}</if>
            <if test="title != null  and title != ''"> and movie_basic.title like concat('%', #{title}, '%')</if>
            <if test="bgColor != null  and bgColor != ''"> and b.bg_color = #{bgColor}</if>
            <if test="titleEn != null  and titleEn != ''"> and b.title_en = #{titleEn}</if>
            <if test="titleOriginal != null  and titleOriginal != ''"> and b.title_original = #{titleOriginal}</if>
            <if test="akas != null  and akas != ''"> and b.akas = #{akas}</if>
            <if test="genres != null  and genres != ''"> and b.genres = #{genres}</if>
            <if test="pubdate != null "> and b.pubdate = #{pubdate}</if>
            <if test="duration != null  and duration != ''"> and b.duration = #{duration}</if>
            <if test="versions != null  and versions != ''"> and b.versions = #{versions}</if>
            <if test="durations != null  and durations != ''"> and b.durations = #{durations}</if>
            <if test="eggHunt != null "> and b.egg_hunt = #{eggHunt}</if>
            <if test="color != null "> and b.color = #{color}</if>
            <if test="seasonCount != null "> and b.season_count = #{seasonCount}</if>
            <if test="currentSeason != null "> and b.current_season = #{currentSeason}</if>
            <if test="episodeCount != null "> and b.episode_count = #{episodeCount}</if>
            <if test="currentEpisode != null "> and b.current_episode = #{currentEpisode}</if>
            <if test="theEnd != null "> and b.the_end = #{theEnd}</if>
            <if test="countryIds != null  and countryIds != ''"> and b.country_ids = #{countryIds}</if>
            <if test="languages != null  and languages != ''"> and b.languages = #{languages}</if>
            <if test="tags != null  and tags != ''"> and b.tags = #{tags}</if>
            <if test="summary != null  and summary != ''"> and b.summary = #{summary}</if>
            <if test="year != null "> and b.year = #{year}</if>
            <if test="poster != null  and poster != ''"> and b.poster = #{poster}</if>
            <if test="releaseDate != null  and releaseDate != ''"> and b.release_date = #{releaseDate}</if>
            <if test="columnValue != null  and columnValue != ''"> and b.column_value = #{columnValue}</if>
        </where>
        order by b.create_time desc
    </select>

    <select id="selectMovieBasicById" parameterType="Long" resultMap="MovieBasicResult">
        <include refid="selectMovieBasicVo"/>
        where id = #{id}
    </select>

    <insert id="insertMovieBasic" parameterType="MovieBasic" useGeneratedKeys="true" keyProperty="id">
        insert into movie_basic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="version != null">version,</if>
            <if test="status != null">status,</if>
            <if test="releaseStatus != null">release_status,</if>
            <if test="title != null">title,</if>
            <if test="bgColor != null">bg_color,</if>
            <if test="titleEn != null">title_en,</if>
            <if test="titleOriginal != null">title_original,</if>
            <if test="akas != null">akas,</if>
            <if test="genres != null">genres,</if>
            <if test="pubdate != null">pubdate,</if>
            <if test="duration != null">duration,</if>
            <if test="versions != null">versions,</if>
            <if test="durations != null">durations,</if>
            <if test="eggHunt != null">egg_hunt,</if>
            <if test="color != null">color,</if>
            <if test="seasonCount != null">season_count,</if>
            <if test="currentSeason != null">current_season,</if>
            <if test="episodeCount != null">episode_count,</if>
            <if test="currentEpisode != null">current_episode,</if>
            <if test="theEnd != null">the_end,</if>
            <if test="countryIds != null">country_ids,</if>
            <if test="languages != null">languages,</if>
            <if test="tags != null">tags,</if>
            <if test="summary != null">summary,</if>
            <if test="year != null">year,</if>
            <if test="poster != null">poster,</if>
            <if test="releaseDate != null">release_date,</if>
            <if test="columnValue != null and columnValue != ''">column_value,</if>
            <if test="isPay != null">is_pay,</if>
            <if test="freeDuration != null">#{free_duration},</if>
            <if test="paymentAmount != null">#{payment_amount},</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="version != null">#{version},</if>
            <if test="status != null">#{status},</if>
            <if test="releaseStatus != null">#{releaseStatus},</if>
            <if test="title != null">#{title},</if>
            <if test="bgColor != null">#{bgColor},</if>
            <if test="titleEn != null">#{titleEn},</if>
            <if test="titleOriginal != null">#{titleOriginal},</if>
            <if test="akas != null">#{akas},</if>
            <if test="genres != null">#{genres},</if>
            <if test="pubdate != null">#{pubdate},</if>
            <if test="duration != null">#{duration},</if>
            <if test="versions != null">#{versions},</if>
            <if test="durations != null">#{durations},</if>
            <if test="eggHunt != null">#{eggHunt},</if>
            <if test="color != null">#{color},</if>
            <if test="seasonCount != null">#{seasonCount},</if>
            <if test="currentSeason != null">#{currentSeason},</if>
            <if test="episodeCount != null">#{episodeCount},</if>
            <if test="currentEpisode != null">#{currentEpisode},</if>
            <if test="theEnd != null">#{theEnd},</if>
            <if test="countryIds != null">#{countryIds},</if>
            <if test="languages != null">#{languages},</if>
            <if test="tags != null">#{tags},</if>
            <if test="summary != null">#{summary},</if>
            <if test="year != null">#{year},</if>
            <if test="poster != null">#{poster},</if>
            <if test="releaseDate != null">#{releaseDate},</if>
            <if test="columnValue != null and columnValue != ''">#{columnValue},</if>
            <if test="isPay != null">#{isPay},</if>
            <if test="isPay != null">#{isPay},</if>
            <if test="freeDuration != null">#{freeDuration},</if>
            <if test="paymentAmount != null">#{paymentAmount},</if>
        </trim>
    </insert>

    <update id="updateMovieBasic" parameterType="MovieBasic">
        update movie_basic
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="version != null">version = #{version},</if>
            <if test="status != null">status = #{status},</if>
            <if test="releaseStatus != null">release_status = #{releaseStatus},</if>
            <if test="title != null">title = #{title},</if>
            <if test="bgColor != null">bg_color = #{bgColor},</if>
            <if test="titleEn != null">title_en = #{titleEn},</if>
            <if test="titleOriginal != null">title_original = #{titleOriginal},</if>
            <if test="akas != null">akas = #{akas},</if>
            <if test="genres != null">genres = #{genres},</if>
            <if test="pubdate != null">pubdate = #{pubdate},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="versions != null">versions = #{versions},</if>
            <if test="durations != null">durations = #{durations},</if>
            <if test="eggHunt != null">egg_hunt = #{eggHunt},</if>
            <if test="color != null">color = #{color},</if>
            <if test="seasonCount != null">season_count = #{seasonCount},</if>
            <if test="currentSeason != null">current_season = #{currentSeason},</if>
            <if test="episodeCount != null">episode_count = #{episodeCount},</if>
            <if test="currentEpisode != null">current_episode = #{currentEpisode},</if>
            <if test="theEnd != null">the_end = #{theEnd},</if>
            <if test="countryIds != null">country_ids = #{countryIds},</if>
            <if test="languages != null">languages = #{languages},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="year != null">year = #{year},</if>
            <if test="poster != null">poster = #{poster},</if>
            <if test="releaseDate != null">release_date = #{releaseDate},</if>
            <if test="columnValue != null and columnValue != ''">column_value = #{columnValue},</if>

            <if test="isPay != null">is_pay = #{isPay},</if>
            <if test="freeDuration != null">free_duration = #{freeDuration},</if>
            <if test="paymentAmount != null">payment_amount = #{paymentAmount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMovieBasicById" parameterType="Long">
        delete from movie_basic where id = #{id}
    </delete>

    <delete id="deleteMovieBasicByIds" parameterType="String">
        delete from movie_basic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>